<%= form_with(model: csv_import, local: true, html: { multipart: true }) do |form| %>

  <%= form.hidden_field :manifest_cache %>
  <%= form.hidden_field :import_file_path %>
  <%= form.hidden_field :record_count, value: csv_import.manifest_records %>

  <div class="actions">
    <%= form.submit 'Start Import' %>
  </div>
<% end %>
