<%= presenter.attribute_to_html(:access_copy, html_dl: true) %>
<%= presenter.attribute_to_html(:alternative_title, html_dl: true) %>
<%= presenter.attribute_to_html(:architect, html_dl: true) %>
<%= presenter.attribute_to_html(:archival_collection_box, html_dl: true) %>
<%= presenter.attribute_to_html(:archival_collection_folder, html_dl: true) %>
<%= presenter.attribute_to_html(:archival_collection_number, html_dl: true) %>
<%= presenter.attribute_to_html(:archival_collection_title, html_dl: true) %>
<%= presenter.attribute_to_html(:ark, html_dl: true) %>
<%= presenter.attribute_to_html(:arranger, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:artist, html_dl: true) %>
<%= presenter.attribute_to_html(:author, html_dl: true) %>
<%= presenter.attribute_to_html(:based_near_label, html_dl: true) %>
<%= presenter.attribute_to_html(:binding_note, html_dl: true) %>
<%= presenter.attribute_to_html(:calligrapher, html_dl: true) %>
<%= presenter.attribute_to_html(:caption, html_dl: true) %>
<%= presenter.attribute_to_html(:cartographer, html_dl: true) %>
<%= presenter.attribute_to_html(:collation, html_dl: true) %>
<%= presenter.attribute_to_html(:collector, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:colophon, html_dl: true) %>
<%= presenter.attribute_to_html(:commentator, html_dl: true) %>
<%= presenter.attribute_to_html(:composer, html_dl: true) %>
<%= presenter.attribute_to_html(:condition_note, html_dl: true) %>
<%= presenter.attribute_to_html(:content_disclaimer, html_dl: true) %>
<%= presenter.attribute_to_html(:contents_note, html_dl: true) %>
<%= presenter.attribute_to_html(:contributor, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:creator, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:date_created, render_as: :linked, search_field: 'date_created_tesim', html_dl: true) %>
<%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified'), html_dl: true) %>
<%= presenter.attribute_to_html(:dimensions, html_dl: true) %>
<%= presenter.attribute_to_html(:director, html_dl: true) %>
<%= presenter.attribute_to_html(:dlcs_collection_name, render_as: :faceted, html_dl: true, label: "DLCS Collection Name") %>
<%= presenter.attribute_to_html(:edition, html_dl: true) %>
<%= presenter.attribute_to_html(:editor, html_dl: true) %>
<%= presenter.attribute_to_html(:electronic_locator, html_dl: true, label: "External item record") %>
<%= presenter.attribute_to_html(:engraver, html_dl: true) %>
<%= presenter.attribute_to_html(:extent, html_dl: true) %>
<%= presenter.attribute_to_html(:featured_image, html_dl: true) %>
<%= presenter.attribute_to_html(:finding_aid_url, html_dl: true) %>
<%= presenter.attribute_to_html(:foliation, html_dl: true, label: "Foliation note") %>
<%= presenter.attribute_to_html(:format_book, html_dl: true, label: 'Format') %>
<%= presenter.attribute_to_html(:funding_note, html_dl: true) %>
<%= presenter.attribute_to_html(:genre, html_dl: true) %>
<%= presenter.attribute_to_html(:geographic_coordinates, html_dl: true) %>
<%= presenter.attribute_to_html(:history, html_dl: true) %>
<%= presenter.attribute_to_html(:host, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:identifier, render_as: :linked, search_field: 'identifier_tesim', html_dl: true) %>
<%= presenter.attribute_to_html(:iiif_manifest_url, html_dl: true) %>
<%= presenter.attribute_to_html(:iiif_range, html_dl: true) %>
<%= presenter.attribute_to_html(:iiif_text_direction, render_as: :iiif_text_direction, html_dl: true) %>
<%= presenter.attribute_to_html(:iiif_viewing_hint, render_as: :iiif_viewing_hint, html_dl: true) %>
<%= presenter.attribute_to_html(:illuminator, html_dl: true) %>
<%= presenter.attribute_to_html(:illustrations_note, html_dl: true) %>
<%= presenter.attribute_to_html(:illustrator, html_dl: true) %>
<%= presenter.attribute_to_html(:inscription, html_dl: true) %>
<%= presenter.attribute_to_html(:interviewee, html_dl: true) %>
<%= presenter.attribute_to_html(:interviewer, html_dl: true) %>
<%= presenter.attribute_to_html(:keyword, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:language, render_as: :language, html_dl: true) %>
<%= presenter.attribute_to_html(:librettist, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:local_identifier, html_dl: true) %>
<%= presenter.attribute_to_html(:local_rights_statement, html_dl: true) %>
<%= presenter.attribute_to_html(:location, html_dl: true) %>
<%= presenter.attribute_to_html(:lyricist, html_dl: true) %>
<%= presenter.attribute_to_html(:masthead_parameters, html_dl: true) %>
<%= presenter.attribute_to_html(:medium, html_dl: true) %>
<%= presenter.attribute_to_html(:musician, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:named_subject, html_dl: true) %>
<%= presenter.attribute_to_html(:normalized_date, html_dl: true) %>
<%= presenter.attribute_to_html(:note, html_dl: true) %>
<%= presenter.attribute_to_html(:note_admin, html_dl: true, label: 'AdminNote') %>
<%= presenter.attribute_to_html(:opac_url, html_dl: true) %>
<%= presenter.attribute_to_html(:page_layout, html_dl: true) %>
<%= presenter.attribute_to_html(:photographer, html_dl: true) %>
<%= presenter.attribute_to_html(:place_of_origin, html_dl: true) %>
<%= presenter.attribute_to_html(:preservation_copy, html_dl: true) %>
<%= presenter.attribute_to_html(:printer, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:printmaker, html_dl: true) %>
<%= presenter.attribute_to_html(:producer, html_dl: true) %>
<%= presenter.attribute_to_html(:program, html_dl: true) %>
<%= presenter.attribute_to_html(:provenance, html_dl: true) %>
<%= presenter.attribute_to_html(:publisher, render_as: :faceted, html_dl: true) %>

<%= presenter.attribute_to_html(:recipient, html_dl: true) %>
<% if presenter.human_readable_related_record_title.present? %>
    <div style="font-weight: 700">Related Records</div>

        <% presenter.human_readable_related_record_title.each do | related_record_title | %>
            <dd>
                <dt>
                    <ul class="tabular">
                        <li class="attribute attribute-human_readable_related_record_title"><%= raw related_record_title %></li>
                    </ul>
                <dt>
            </dd>
        <% end %>

<% end %>

<%= presenter.attribute_to_html(:citation_source, html_dl: true, label: "References") %>
<%= presenter.attribute_to_html(:related_to, html_dl: true, label: 'Related Items') %>
<%= presenter.attribute_to_html(:related_url, render_as: :external_link, html_dl: true) %>
<%= presenter.attribute_to_html(:repository, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:representative_image, html_dl: true) %>
<%= presenter.attribute_to_html(:researcher, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:resource_type, render_as: :resource_type, html_dl: true) %>
<%= presenter.attribute_to_html(:resp_statement, html_dl: true, label: "Statement of Responsibility") %>
<%= presenter.attribute_to_html(:rights_country, html_dl: true) %>
<%= presenter.attribute_to_html(:rights_holder, html_dl: true) %>
<%= presenter.attribute_to_html(:rights_statement, render_as: :rights_statement, html_dl: true) %>
<%= presenter.attribute_to_html(:rubricator, html_dl: true) %>
<%= presenter.attribute_to_html(:scribe, html_dl: true) %>
<%= presenter.attribute_to_html(:script, html_dl: true) %>
<%= presenter.attribute_to_html(:series, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:services_contact, html_dl: true) %>
<%= presenter.attribute_to_html(:source, html_dl: true) %>
<%= presenter.attribute_to_html(:subject, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:subject_cultural_object, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:subject_domain_topic, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:subject_geographic, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:subject_temporal, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:subject_topic, html_dl: true) %>
<%= presenter.attribute_to_html(:summary, html_dl: true) %>
<%= presenter.attribute_to_html(:support, html_dl: true) %>
<%= presenter.attribute_to_html(:tagline, html_dl: true) %>
<%= presenter.attribute_to_html(:thumbnail_link, html_dl: true) %>
<%= presenter.attribute_to_html(:toc, html_dl: true) %>
<%= presenter.attribute_to_html(:translator, html_dl: true) %>
<%= presenter.attribute_to_html(:uniform_title, html_dl: true) %>
